<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/sign.css">
    <title>Sign In</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="content"> 
        <div id="title"> 
    <h1> Sign In </h1>
</div>
    <form action="/auth/sign-in"  method="POST">

        <div id="inputs">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required/>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required/>
        </div>
            <div id="submitBtn">
    <button type="submit">Sign in</button>
</div>
</form>

    <% if (typeof errorMessage !=='undefined' ) { %>
        <p>
            <%= errorMessage %>
        </p>
        <% } %>
    </div>
</body>
</html>