
<nav>
  <div id="nav-bar">
    <a href="/">Home</a>
    <a href="/community">Community</a>
    <% if(user) { %>
      <a href="/travel/<%=user._id%>">view your page</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
      <a href="/auth/sign-in">Sign In</a>
      <a href="/auth/sign-up">Sign Up</a>
    <% } %>
  </div>
  </nav>