<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <h1>this will be a list of users</h1>
        <% allUsers.forEach(user=> { %>
            <% if (user.shareYourTravel) {%>

                <ul>
                    <a href="/community/<%=user._id%>">
                        <%=user.username%>
                    </a>
                </ul>
                <% } %>

                    <% }); %>

</body>


</body>

</html>