<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/community.css">
    <title>Conversation</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
<h1> your messages wooooh</h1>


<form action="/community/conversation/<%=convoId%>/message" method="POST">
    <label for="message">Message:</label>
    <textarea for="message" name="message" id="message" ></textarea>
<button type="submit">Send Message</button>
</form>

</body>
</html>